.App {
  text-align: center;
}

.Navbar {
  width: "100%";
  height: "2000px";
  background: #5578eb;
}

.main-menu-text {
  margin-left: 42px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 21px;
  /* identical to box height */

  color: #d7d7d7;
}

.Nav-selector {
  width: 269px;
  height: 50px;
  margin-top: 17px;
  background: #eef1fd;
  border-radius: 5px 5px 40px 5px;
}

.Nav-nonselector {
  width: 269px;
  height: 50px;
  margin-top: 17px;
}

.nav-selector-icon {
  position: relative;
  width: 18px;
  height: 18px;
  margin-left: 42px;
  margin-top: 15px;
}

.notification-eclipse {
  box-sizing: border-box;
  width: 41px;
  height: 37px;
  left: 164px;
  top: 321px;

  background: #9bbeff;
  border: 1px solid #9bbeff;
  box-shadow: 0px 4px 10px #634ce2;
}

.header {
  background-color: #5578eb;
  height: 95px;
}

.header-heading {
  margin-top: 28px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;

  color: #ffffff;
}

.search-wrapper {
  width: 180px;
  height: auto;
  margin-top: 28px;
  border: 2px solid #5578eb;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
  border-radius: 25px;
}

.header-icons {
  width: auto;
  height: auto;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

.upgradeButton {
  margin-top: 29px;
  margin-left: 30px;
}

.userNameHeader {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: '#fff';
}
